body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(#003300, #001a00);
    color: white;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px 0;
    padding-top: 100px; /* geser konten agar tidak tertutupi */
}

h1 {
    font-size: 35px;
    margin-bottom: 5px;
}

.subtitle {
    color: #bdbdbd;
    margin-bottom: 20px;
}

.content {
    display: flex;
    gap: 30px;
}

/* ====== GRAFIK ====== */
.chart-box {
    width: 55%;
    background:  #111111;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    justify-content: center; 
    flex-direction: column;  
    align-items: center;  
    
}

.chart {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    height: 300px;
    margin-top: 20px;
    justify-content: center;
}

.bar {
    width: 30px;
    background: #16c47f;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
}

.bar:hover {
    background: #18e28d;
    transform: scale(1.05);
}

.bar::after {
    content: attr(data-value);
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
}

/* ====== LIST LAGU ====== */
.song-list {
    width: 45%;
    flex: 1;
    max-height: 500px;  
    overflow-y: auto;    
    padding-right: 10px; /* Agar scroll tidak mepet */
}

.song {
    background: #111111;
    padding: 12px 15px;
    border-radius: 12px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rank {
    font-size: 22px;
    font-weight: bold;
    width: 25px;
}

.title {
    font-size: 16px;
    font-weight: bold;
}

.artist {
    margin-top: -3px;
    color: #cfcfcf;
    font-size: 14px;
}

.count {
    font-size: 14px;
    color: #baf7d5;
}

.navbar {
    width: 100%;
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 1px solid #111;
}

.navbar .left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    color: #00e676;
    font-size: 28px;
}

.brand {
    font-size: 20px;
    font-weight: bold;
}

.menu {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 14px;
    border-radius: 10px;
    color: #ddd;
    text-decoration: none;
    font-size: 15px;
    transition: 0.2s;
}

.menu:hover {
    background: #1d2530;
}

.menu.active {
    background: #2e3a4b;
    color: white;
}

.icon {
    font-size: 16px;
}

/* Log In button */
.login-btn {
    background: #00e676;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.login-btn:hover {
    background: #00ff85;
}

.album-title {
    margin-top: 40px;
    font-size: 28px;
    margin-bottom: 20px;
}


.album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 25px;
}


.album {
    background: #111111;
    padding: 15px;
    border-radius: 14px;
    color: white;
}

.album img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.album-name {
    font-size: 16px;
    font-weight: 600;
    margin: 5px 0;
}

.album-artist {
    margin: 0;
    font-size: 14px;
    opacity: 0.8;
}


.album-year {
    font-size: 13px;
    opacity: 0.6;
}
