body {
    background: #020409;
    color: #e8efff;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 40px;
}

.searchInput {
    align-self: center;
    color: white;
    background: #141f33;
    width: 95vw;
    height: 9vh;
    border: 1px solid #a7b6ce;
    border-radius: 50px;
    font-size: medium;
    padding: 20px;
    box-sizing: border-box;
}

.songs {
    position: absolute;
    justify-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}